
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Fecha

<body id="page-top">
    <!--Se implementa el NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">DC Dental Care</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
                    type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Reserva de turnos</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">Especialidad</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Datos de la reserva</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Se implementa el HEADER-->
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!--Se implementa el Avatar-->
            <img class="masthead-avatar mb-5" src="~/img/avataaars.svg" alt="..." />
            <!-- Se implementa el Heading-->
            <h1 class="masthead-heading text-uppercase mb-0">Bienvenido</h1>
            <!--Se implementa el icono divisor-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Se implementa el Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Sistema integral de gestion de turnos</p>
        </div>
    </header>
    <!-- Se implementa la grilla que contiene los elementos de la grilla de turnos(Subheading) -->
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Se implementa el heading de la grilla de turnos--->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Reserva de turnos</h2>
            <!--Se implementa el icono divisor-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>            
            <!--Se immplementa el bloque del calendario v2-->
                    <form asp-action="GuardarFecha" asp-controller="Reserva">
                     <div class="form-group text-white text-center">
                    <input asp-for="Valor" type="date" class='center' id="fecha" width='100' required class="form-control" />  
                    </div>
                    <div class="form-group" style="margin-top:10px; text-align:center; ">
                    <input type="submit" value="Guardar Fecha" class="btn btn-primary" text-center />
                    </div>
                    </form>
            <!--Se immplementa el bloque del calendario v1-->
                    @*
                    class="container-fluid p-5 bg-primary text-white text-center">
                    <label for="fecha"></label>
                    <!-- se declarò la variable campoFecha -->
                    <h4>Seleccione una Fecha</h4>
                    <p></p>
                    <input
                    type="date" class='center' id="fecha" width='100' required/>
                    *@
                </div>
        <!--Se implementan los objetos del tipo 'card' (Reservas) -->
                <div class="row justify-content-center">
            <!-- INICIO Primera columna -->
                    <div class="col">
                        <div class="turno1">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">09:00 A 10:00 HS</h5>
                                    <p class="card-text">DISPONIBLE</p>
                            <form asp-action="Reservar" asp-controller="Reserva">
                                <input type="submit" value="Reservar" class="btn btn-primary" text-center />
                            </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="turno2">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">11:00 A 12:00 HS</h5>
                                    <p class="card-text">DISPONIBLE</p>
                            <form asp-action="Reservar" asp-controller="Reserva">
                                <input type="submit" value="Reservar" class="btn btn-primary" text-center />
                            </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="turno3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">13:00 A 14:00 HS</h5>
                                    <p class="card-text">DISPONIBLE</p>
                            <form asp-action="Reservar" asp-controller="Reserva">
                                <input type="submit" value="Reservar" class="btn btn-primary" text-center />
                            </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="turno4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">15:00 A 16:00 HS</h5>
                                    <p class="card-text">DISPONIBLE</p>
                            <form asp-action="Reservar" asp-controller="Reserva">
                                <input type="submit" value="Reservar" class="btn btn-primary" text-center />
                            </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                    </div>
                    <!-- FIN Primera columna -->
            <!-- INICIO segunda columna -->
                    <div class="col">
                        <div class="turno5">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">10:00 A 11:00 HS</h5>
                                    <p class="card-text">DISPONIBLE</p>
                            <form asp-action="Reservar" asp-controller="Reserva">
                                <input type="submit" value="Reservar" class="btn btn-primary" text-center />
                            </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="turno6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">12:00 A 13:00 HS</h5>
                                    <p class="card-text">DISPONIBLE</p>
                            <form asp-action="Reservar" asp-controller="Reserva">
                                <input type="submit" value="Reservar" class="btn btn-primary" text-center />
                            </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="turno7">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">14:00 A 15:00 HS</h5>
                                    <p class="card-text">DISPONIBLE</p>
                            <form asp-action="Reservar" asp-controller="Reserva">
                                <input type="submit" value="Reservar" class="btn btn-primary" text-center />
                            </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                        <div class="turno8">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">16:00 A 17:00 HS</h5>
                                    <p class="card-text">DISPONIBLE</p>
                            <form asp-action="Reservar" asp-controller="Reserva">
                                <input type="submit" value="Reservar" class="btn btn-primary" text-center />
                            </form>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            <!-- FIN segunda columna -->
            <div class="row align-items-end">
                <div class="col">
                    <div class="turno9">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">17:00 A 18:00 HS</h5>
                                <p class="card-text">DISPONIBLE</p>                            
                            <form asp-action="Reservar" asp-controller="Reserva">                               
                            <input type="submit" value="Reservar" class="btn btn-primary" text-center />                
                            </form>
                            <!--    Version 1.0 del boton de Reserva -->
                            <!--    <a href="#" class="btn btn-primary">Reservar</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Se implementa la seccion de 'Especialidades'-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- Se implementa el heading de la seccion de 'Especialidades'-->
            <h2 class="page-section-heading text-center text-uppercase bg-primary">Seleccione una especialidad</h2>
            <!--Se implementa el icono divisor-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
        </div>
        <div class="row">
            <c1-3 class="text-center">
                <!-- Especialidades-->
                <h5>Especialidades</h5>
                <p></p>
                <!-- Se implementa el dropdown -->
                <div class="dropdown">
                    <button class="dropbtn">Elija una especialidad</button>
                    <div class="dropdown-content">
                        <a href="#">General</a>
                        <a href="#">Ortodoncia</a>
                        <a href="#">Endodoncia</a>
                        <a href="#">Periodoncia</a>
                        <a href="#">Cirugia/Implantes</a>
                    </div>
                </div>
                <p></p>
                <p></p>
                <h5>Profesional</h5>
                <p></p>
                <div class="dropdown">
                    <button class="dropbtn">Elija un/a profesional</button>
                    <div class="dropdown-content">
                        <a href="#">Christian</a>
                        <a href="#">Juan</a>
                        <a href="#">Pablo</a>
                        <a href="#">Daniel</a>
                    </div>
                </div>
            </c1-3>
        </div>
    </section>
    <!-- Se implementa la seccion de 'Datos de la Reserva'-->
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Se implementa el heading de la seccion 'Datos de la Reserva'-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Datos de la reserva</h2>
            <!--Se implementa el icono divisor-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Se implementa el formulario para 'Datos de la Reserva'-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- input Nombre-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Ingrese su nombre..." data-sb-validations="required" />
                            <label for="name">Nombre Completo</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">Es necesario ingresar su nombre.</div>
                        </div>
                        <!-- input Email -->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">Un Email es necesario.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">El Email no es valido.</div>
                        </div>
                        <!-- input Telefono-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Telefono</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">Un telefono es necesario.</div>
                        </div>
                        <!-- input Mensaje-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Ingrese aqui su mensaje..." style="height: 10rem"></textarea>
                            <label for="message">Mensaje</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">Un mensaje es necesario.</div>
                        </div>
                        <!-- Mensaje de Reserva OK -->
                        <!---->
                        <!-- Esto es lo que usuario ve cuando -->
                        <!-- se realiza la reserva con exito -->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Se reserva se ha realizado con exito!</div>
                                <br/>
                            </div>
                        </div>
                        <!-- Mensaje de Reserva con ERROR -->
                        <!---->
                        <!-- Esto es lo que usuario ve cuando ->
                        <!-- hubo un error al procesar la reserva-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Hubo un error durante la registracion de sus datos!</div>
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/assets/js/scripts.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

